
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<center><img style="margin-top: 130px;" src="@Url.Content("~/Content/Images/Services/rekuslug.jpg")" alt="reklama" width="882" height="284"></center>

<div class="uslugi">
    <ul class="main-menu">
        <p style="margin-left: 100px;font-family:Coronetscript, cursive ;font-size: 19pt;color: #fff;">Услуги</p>
        <li><a style="font-family:Coronetscript; font-size: 17pt;" href="~/Services/">Тренажерный зал</a></li>
        <li>
            <a style="font-size: 17pt" ; href="">Групповые занятия</a>
            <ul class="sub-menu">
                <li><a href="~/Services/Body">Body&Mind</a></li>
                <li><a>Силовые</a></li>
                <li><a href="~/Services/Cardio">Кардио</a></li>
            </ul>
        <li><a style="font-size: 17pt" ; href="">Боевые искуства</a></li>
        <ul class="sub-menu">
            <li><a href="~/Services/Karate">Каратэ</a></li>
            <li><a href="~/Services/Taybok">Тайский бокс</a></li>
            <li><a href="#3">Ушу</a></li>
            <li><a href="#3">Бокс</a></li>
        </ul>
        <li><a style="font-size: 17pt" ; href="">Душевые и сауна</a></li>
        <li><a style="font-size: 17pt" ; href="">Бассейн</a></li>
    </ul>
</div>
<div id="Ren">
    @RenderBody();
    </div>
<center>
    <div class="photos2">
        <div class="photouslug"><img src="@Url.Content("~/Content/Images/Services/Trenzal/1.jpg")"></div>
        <div class="photouslug"><img src="@Url.Content("~/Content/Images/Services/Trenzal/2.jpg")"></div>
        <div class="photouslug"><img src="@Url.Content("~/Content/Images/Services/Trenzal/3.png")"></div>
    </div>
</center>





<div class="down"></div>



