@{
    ViewBag.Title = "Фитнес-центр ARNOLD";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<center>
    <div class="container">

        <ul class="bxslider">
            <li><img src="@Url.Content("~/Content/Images/advert/5.png")" /></li>
            <li><img src="@Url.Content("~/Content/Images/advert/2.png")" /></li>
            <li><img src="@Url.Content("~/Content/Images/advert/3.png")"/></li>
            <li><img src="@Url.Content("~/Content/Images/advert/a.png")" /></li>
        </ul>
    </div>
</center>

<center><img src="fot.png" alt="fitness" margin-top:20px;></center>
<div class="fit">
    <div class="fit2">
        <div class="fit3">
            <p>Для меня жизнь - это постоянное чувство голода. Смысл жизни не в том, чтобы просто существовать, выживать, но в том, чтобы двигаться вперед, совершенствоваться, достигать, завоевывать.</p>
            <div class="av"><br>&#169;Arnold Schwarzenegger<br/></div>
            <div class="fit4">
                <p>Мы уверены, что предоставляемые нашими спортивными центрами фитнес-услуги не разочаруют вас и принесут именно тот эффект, которого вы ждете!</p>
            </div>
        </div>
        <div>
            <div id="parallelogram"><img src="@Url.Content("~/Content/Images/mot/1.png")"></div>
            <div id="parallelogram2"><img src="@Url.Content("~/Content/Images/mot/2.png")"></div>
            <div id="parallelogram3"><img src="@Url.Content("~/Content/Images/mot/3.png")" /></div>
        </div>
    </div>
</div>


<center><div class="down"></div></center>



<script type="text/javascript">

          //Функция показа
      function show(state){

          document.getElementById('window').style.display = state;
      }

</script>

<!-- Задний прозрачный фон-->
<div onclick="show('none')" id="wrap"></div>

<!-- Само окно-->
<div id="window">

    <!-- Картинка крестика-->
    <img class="close" onclick="show('none')" src="close.png">

    <div class="blokabon">
        <center><h2>Получить абонемент</h2></center>
        <fieldset>
            <form action="" method=post>
                <h5>
                    Имя&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" required><span></span>
                </h5>
                <h5>Телефон&nbsp;&nbsp;<input type=number required><span></span></h5>
            </form>
        </fieldset>
        <br>
        <center><button><img src="button.png"></button></center>
    </div>
</div>