<center>
    <div class="container">

        <ul class="bxslider">
            <li><img src="@Url.Content("~/Content/Images/banners/5.png")" /></li>
            <li><img src="@Url.Content("~/Content/Images/banners/2.png")" /></li>
            <li><img src="@Url.Content("~/Content/Images/banners/3.png")" /></li>
            <li><img src="@Url.Content("~/Content/Images/banners/4.png")" /></li>
        </ul>
    </div>
</center>
<center>
    <div class="motivzap">
        <div id="parallelogram"></div>
        <div id="parallelogram2"></div>
        <div id="parallelogram3"></div>
        <div class="motivzap2">
            <style>
                p:first-letter {
                    color: #FF0000;
                    margin-left: 5px;
                    font: normal 35pt italic;
                }
            </style>
            <p class="motivzap3">Для меня жизнь - это постоянное чувство голода. Смысл жизни не в том, чтобы просто существовать, выживать, но в том, чтобы двигаться вперед, совершенствоваться, достигать, завоевывать.</p>
            <div class="av"><br>&#169;Arnold Schwarzenegger</br></div>

        </div>
    </div>
</center>


<center>
    <div class="inst">
        <img src="@Url.Content("~/Content/Images/inst.png")" alt="instagram" width="120" height="45">
        <h3 style="margin-right: -600px;margin-top: -40px;">#ARNOLD</h3>
    </div>
</center>
<center>
    <div class="photos">
        <div class="fotoDiv"><img src="@Url.Content("~/Content/Images/inst/1.jpg")" /></div>
        <div class="fotoDiv"><img src="@Url.Content("~/Content/Images/inst/2.jpg")" /></div>
        <div class="fotoDiv"><img src="@Url.Content("~/Content/Images/inst/3.jpg")" /></div>
        <div class="fotoDiv"><img src="@Url.Content("~/Content/Images/inst/4.jpg")" /></div>
        <div class="fotoDiv"><img src="@Url.Content("~/Content/Images/inst/5.jpg")" /></div>
    </div>
</center>
<center><div class="down"></div></center>



<script type="text/javascript">

          //Функция показа
      function show(state){

          document.getElementById('window').style.display = state;
      }

</script>

<!-- Задний прозрачный фон-->
<div onclick="show('none')" id="wrap"></div>

<!-- Само окно-->
<div id="window">

    <!-- Картинка крестика-->
    <img class="close" onclick="show('none')" src="http://sergey-oganesyan.ru/wp-content/uploads/2014/01/close.png">

    <div class="blokabon">
        <img style="margin: -10px 0 0 50px;" src="fithart.jpg">
        <center><h2>Абонемент</h2></center>
        <fieldset>
            <form action="" method=post>
                <h5>
                    Имя&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" required><span></span>
                    <h5>
                        Фамилия&nbsp;<input type=text required><span></span>
                        <h5>Эл. почта&nbsp;<input type=email required><span></span>
            </form>
        </fieldset>
        <br>
        <center><button>Получить</button></center>
    </div>
</div>